{% extends 'partials/base.html' %}

{% block title %}Confirm Deletion{% endblock %}

{% block content %}
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete {{ service_technician.name }} {{ service_technician.surname }}?</p>
    <form method="post" action="{% url 'service_technician_delete' pk=service_technician.pk %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <a href="{% url 'service_technician_detail' pk=service_technician.pk %}">Cancel</a>
{% endblock %}
