<header>
    <h1>StarNet</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/service-request/">Service Requests</a></li>
            <li><a href="/invoice/">Invoices</a></li>
            <li><a href="/part/">Parts</a></li>
            <li><a href="/service-technician/">Service technicians</a></li>
            <li><a href="/customer/">Customers</a></li>
            
            
            <!-- Add links for other models as needed -->
        </ul>
    </nav>
</header>
