{% extends 'partials/base.html' %}

{% block title %}Service Technician List{% endblock %}

{% block content %}
    <h2>Service Technician List</h2>
    <ul>
        {% for technician in service_technicians %}
            <li><a href="{% url 'service_technician_detail' pk=technician.pk %}">{{ technician.name }} {{ technician.surname }}</a></li>
        {% endfor %}
    </ul>
    <br><hr>
    <h2>Add new technician</h2>
    <p>
    <a href="{% url 'service_technician_create' %}">Add new</a></p>
    <br><hr>
{% endblock %}
